<%- # requires solr_config local passed in
  field_config = date_range_config(solr_field)  
  label = facet_field_label(solr_field)
  
  input_label_date_range_begin = field_config[:input_label_date_range_begin] || t("blacklight.date_range_limit.date_range_begin", field_label: label)
  input_label_date_range_end   = field_config[:input_label_date_range_end] || t("blacklight.date_range_limit.date_range_end", field_label: label)
  maxlength = field_config[:maxlength]
-%>

<div class="limit_content date_range_limit">  
  <% if  params["date_range"] &&
         params["date_range"][solr_field] &&
         ( (! params["date_range"][solr_field]["begin"].blank?) ||
           (! params["date_range"][solr_field]["end"].blank?) ||
           params["date_range"][solr_field]["missing"]) %>
    <ul class="current list-unstyled facet-values">
      <li class="selected">
        <span class="facet-label">
          <span class="selected"><%= date_range_display(solr_field) %></span> 
           <%= link_to remove_date_range_param(solr_field), :class=>"remove", :title => t('blacklight.date_range_limit.remove_limit') do %>
            <span class="glyphicon glyphicon-remove"></span>
            <span class="sr-only">[<%= t('blacklight.date_range_limit.remove_limit') %>]</span>
           <% end %>
        </span>
        <span class="selected facet-count"><%= number_with_delimiter(@response.total) %></span>
      </li>
    </ul>
         
  <% end %>

  <% unless params["date_range"] && params["date_range"][solr_field] && params["date_range"][solr_field]["missing"] %>  
    <%= form_tag search_action_path, :method => :get, class: [BlacklightDateRangeLimit.classes[:form], "date_range_#{solr_field}"].join(' ') do %>
      <%= render_hash_as_hidden_fields(search_state.params_for_search) %>
      
      <!-- we need to include a dummy search_field parameter if none exists,
           to trick blacklight into displaying actual search results instead
           of home page. Not a great solution, but easiest for now. -->
      <% unless params.has_key?(:search_field) %>
        <%= hidden_field_tag("search_field", "dummy_date_range") %>
      <% end %>

      <div class="input-group input-daterange">
        <%= render_date_range_input(solr_field, :begin, input_label_date_range_begin, maxlength) %>
         <div class="input-group-addon">to</div> 
        <%= render_date_range_input(solr_field, :end, input_label_date_range_end, maxlength) %>
      </div>   

      <%= submit_tag t('blacklight.date_range_limit.submit_limit'), class: BlacklightDateRangeLimit.classes[:submit] %>
    
    <% end %>
  <% end %>
    
</div>
